.brackets-viewer {
  --bv-bg-color: #101213;
  --bv-surface-color: #1c2835;
  --bv-match-bg-color: #14191f;
  --bv-text-color: #d9d9d9;
  --bv-heading-color: #d1d5db;
  --bv-win-color: #50b649;
  --bv-lose-color: #e61a1a;
  --bv-label-color: grey;
  --bv-hint-color: #a7a7a7;
  --bv-connector-color: #1c2835;
  --bv-border-color: var(--bv-bg-color);
  --bv-border-hover-color: #b6b5b5;
  --bv-border-selected-color: #94a3b8;

  --bv-font-size: 12px;
  --bv-round-gap: 40px;
  --bv-match-width: 150px;
  --bv-match-horizontal-padding: 8px;
  --bv-match-vertical-padding: 6px;
  --bv-connector-border-width: 2px;
  --bv-match-border-width: 1px;
  --bv-match-border-radius: 0.5em;
  --bv-participant-image-size: 1em;
}
