.brackets-viewer {
  --bv-bg-color: #fff;
  --bv-surface-color: #eceff1;
  --bv-match-bg-color: var(--bv-bg-color);
  --bv-text-color: #212529;
  --bv-heading-color: #6b6b6b;
  --bv-win-color: #50b649;
  --bv-lose-color: #e61a1a;
  --bv-label-color: grey;
  --bv-hint-color: #a7a7a7;
  --bv-connector-color: #9e9e9e;
  --bv-border-color: #d9d9d9;
  --bv-border-hover-color: #b6b5b5;
  --bv-border-selected-color: rgb(60, 60, 60);

  --bv-font-size: 12px;
  --bv-round-gap: 40px;
  --bv-match-width: 150px;
  --bv-match-horizontal-padding: 8px;
  --bv-match-vertical-padding: 6px;
  --bv-connector-border-width: 2px;
  --bv-match-border-width: 1px;
  --bv-match-border-radius: 0.3em;
  --bv-participant-image-size: 1em;
}
